{% load static %}
<!doctype html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">


    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'assets/img/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'assets/img/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets/img/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/img/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'assets/img/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'assets/img/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'assets/img/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'assets/img/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'assets/img/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/img/favicon/manifest.json' %}">
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&amp;subset=chinese-traditional,japanese" class="next-head">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&amp;subset=chinese-traditional,japanese" rel="stylesheet" class="next-head">
    <meta name="msapplication-TileColor" content="#ffffff">

    <meta name="theme-color" content="#ffffff">


    <title>信義房屋 - Super Agent 打造您的職能守護神</title>
    <meta name="description" content="Sinyi - Super Agent 打造您的職能守護神" />

    <meta property="fb:app_id" content="">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="SuperAgent是承載數據與科技的數位平台，信義夥伴透過次世代智能協作，人人都是超級業務" />
    <meta property="og:image" content="assets/img/logo-small.png" />

    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="600" />
    <meta property="og:description" content="打造您的職能守護神、數位賦能 服務全能、一鍵生成 工作即報表、數據整合 秒懂客戶" />
    <meta property="og:site_name" content="Super Agent" />


    <link rel="home" href="/sa/" />
	<link rel="canonical" href="/sa/">
    <link rel="stylesheet" href="{% static 'assets/css/sa.css' %}">
	<link href="{% static 'css/style.css' %}" rel="stylesheet"  media="screen">
    <link href="{% static 'assets/css/commons.css' %}" rel="stylesheet">

    <div id="top"></div>
    <!-- Google Tag Manager -->
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-ML8B9HB');
    </script>
    <!-- End Google Tag Manager -->

</head>

<body class="functionintro">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-ML8B9HB"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header class="menu-open">
        <div class="background" data-toggle-menu></div>

        <div class="nav-container">
            <div class="top">
                <a href="/sa/" class="logo"></a>
               
                <nav class="main">   
                    <a href="/sa/" class="nav-link" data-trigger-page-transition><span class="text">首頁</span> <span class="line"></span></a>
                    <a href="/sa/events/" class="nav-link" data-trigger-page-transition><span class="newtag">NEW</span><span class="text" target="_blank">活動快訊</span> <span class="line"></span></a>
                    <a href="/sa/functionintro/" class="nav-link" data-trigger-page-transition><span class="text">SA攻略</span> <span class="line"></span></a>
                    <a href="/sa/pd_data/" class="nav-link" data-trigger-page-transition><span class="text" target="_blank">產品熱度</span> <span class="line"></span></a>
                    <a href="/sa/voting/" class="nav-link" data-trigger-page-transition><span class="text" target="_blank">點讚GO!</span> <span class="line"></span></a>
                    <a href="https://sinyi-superagent-webapp-uscmmvx6lq-de.a.run.app/sa_index.html" target="_blank" class="nav-link" ><span class="text" target="_blank">手刀下載</span> <span class="line"></span></a>

                </nav>


                <a href="/sa/#" class="hidden-button" data-toggle-trial></a>
            </div>

            <div class="bottom">
                <a href="/sa/#" class="hidden-button" data-toggle-trial></a>

                <div class="form-container tabs-container">
                    <div class="tabs">
                        <a href="/sa/#" class="heading tab active" data-open-tab="trialForm">聯絡我們</a>

                    </div>


                    <div class="tab-content-container">
                        <div class="tab-content active" data-tab="trialForm">
                            <p>同仁有任何想法，歡迎與SuperAgent團隊聯絡</p>
                            <p>E-Mail:
                                <a href="mailto:SuperAgent@sinyi.com.tw?subject=主旨&body=內容">SuperAgent@sinyi.com.tw</a></p>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="menu-bar-container">
            <div class="menu-bar">
                <a href="/sa/" class="logo small" data-trigger-page-transition></a>
                <a href="/sa/#" class="menu-button" data-toggle-menu>
                    <span class="menu-button-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                    </span>
                </a>

                <a href="/sa/#" class="trial-link" data-toggle-trial><span class="text">Contact Us</span></a>
            </div>

        </div>
    </header>


   


    <div class="wrapper">
 
            <div class="submenu">
                <ol>
                    <li class="namecard"><a href="/sa/functionintro/businesscard/"><div class="menu-item"><span>數位名片1.0</span></div></a></li>
                    <li class="active community"><a href="#"><div class="menu-item"><span>社區檔案櫃</span></div></a></li>
                    <li class="sellingprocess"><a href="/sa/functionintro/sellingprocess/"><div class="menu-item"><span>買方服務流程</span></div></a></li>
                </ol>
            </div>
            <div class="rightcolumn">
                <div class="horizontalstyle">
                    <div class="nav-container">
                        <div class="top">
                            <a href="/sa/" class="logo black"></a>

                            <a href="/sa/#" class="hidden-button" data-toggle-trial></a>
                            <h2>SA攻略</h2>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/sa/">首頁</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">SA攻略 - 社區檔案櫃</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
            
                </div>
                <div class="content">
                    <section class="funcintro-intro">
                        <div class="container">
                            <div class="row" >
                                <div class="funcintro-sectitle">
                                    <h2 class="center">社區檔案櫃上線囉 !</h2>
                                    <div class="scrolldownarrow"></div>
                                </div>
                                <div class="funcintro-block greenbg nopaddingbottom">
                                    <h3 class="center">完整社區資訊握在手心 不擔心被客戶問倒</h3>
                                    <p class="center">拉開檔案櫃抽屜，細戶資料快速給你答案，立刻成為社區通。</p>
                                    <img src="{% static 'assets/img/functionintro/community-intro-1.svg' %}" />
                                </div>
                                <div class="funcintro-block greenbg">
                                    <h3 class="center">五大目錄瀏覽，掌握案源動態不求人</h3>
                                    <p class="center">有效資訊整合，讓您把時間與精神花在服務客戶上！</p>
                                    <img src="{% static 'assets/img/functionintro/community-intro-2.svg' %}" />
                                </div> 
                                <div class="funcintro-block greenbg nopaddingbottom">
                                    <h3 class="center">只要你懂社區，社區就會幫你</h3>
                                    <p class="center">主營社區資訊維護得宜 獨家資訊都秀給你！</p>
                                    <img src="{% static 'assets/img/functionintro/community-intro-3.svg' %}" />
                                </div> 
                            </div>
                        </div>
                    </section>
                    <section class="funcintro-qa">

                        <div class="container">
                            
                            <div class="row">

                                <div class="qasliderow" id="qasliderow-namecard">
                                    <h3 class="center">常見問題集</h3>
                                    <ol>
                                        <li>
                                            <div class="title">為何要有社區檔案櫃？</div>
                                            <div class="answer">
                                                <div class="textbox">
                                                <strong>社區百科</strong>著重<strong>社區資料</strong> / <strong>社區檔案</strong>櫃聚焦<strong>單一細戶資料</strong>。<br>
                                                便利業務迅速了解細戶的資料與動態，掌握細戶動態無需辛苦備註，只要開啟社區檔案櫃！完整的資訊整合，讓您一眼可視重要資料，不再因為遺漏而遺憾。<br>
                                                除了提供細戶資料，還針對責任範圍業務提供優於其他業務的第一手訊息。<br>
                                                </div>
                                                <div class="imagebox">
                                                    <img src="{% static 'assets/img/functionintro/community-answer-1.png' %}" alt="為何要有社區檔案櫃？">
                                                </div>
                                                
                                            </div>
                                        </li>
                                        <li>
                                            <div class="title">行情概況</div>
                                            <div class="answer">
                                                <div class="textbox">
                                                    提供<strong>實登資料</strong>與<strong>未實登的信義成交資料</strong>。樓棟戶別最新實價登錄清楚不漏接，歷史成交紀錄一覽無遺。
                                                   
                                                </div>
                                                <div class="imagebox">
                                                    <img src="{% static 'assets/img/functionintro/community-answer-2.png' %}" alt="行情概況">
                                                   
                                                </div>
                                                <div class="imagebox">
                                                    <img src="{% static 'assets/img/functionintro/community-answer-2_1.png' %}" alt="行情概況">
                                                </div>
                                                <div class="imagebox">
                                                    <img src="{% static 'assets/img/functionintro/community-answer-2_2.png' %}" alt="行情概況">
                                                </div>
                                                <div class="imagebox">
                                                    <img src="{% static 'assets/img/functionintro/community-answer-2_3.png' %}" alt="行情概況">
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="title">銷售現況</div>
                                            
                                            <div class="answer">
                                                <div class="textbox">
                                                    系統自動比對，輔助您掌握社區<strong>在售案源動態</strong>，了解案源熱度與比對後的有效數據。
                                                    
                                                </div>
                                                <div class="imagebox">
                                                    <img src="{% static 'assets/img/functionintro/community-answer-3.png' %}" alt="銷售現況">
                                                </div>
                                                <div class="imagebox">
                                                    <img src="{% static 'assets/img/functionintro/community-answer-3_1.png' %}" alt="銷售現況">
                                                </div>
                                                <div class="imagebox">
                                                    <img src="{% static 'assets/img/functionintro/community-answer-3_2.png' %}" alt="銷售現況">
                                                </div>
                                                <div class="imagebox">
                                                    <img src="{% static 'assets/img/functionintro/community-answer-3_3.png' %}" alt="銷售現況">
                                                </div>
                                                <div class="imagebox">
                                                    <img src="{% static 'assets/img/functionintro/community-answer-3_4.png' %}" alt="銷售現況">
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="title">開發機會</div>
                                            
                                            <div class="answer">
                                                <div class="textbox">
                                                    提醒<strong>案源開發機會</strong>，掌握潛案動態不求人，將許多原本需人工整理的資料，改為系統自動處理，讓業務把時間與精神花在服務客戶上。
                                                    只要看到檔案櫃出現新標籤，表示機會來嘍！
                                                </div>
                                                <div class="imagebox">
                                                    <img src="{% static 'assets/img/functionintro/community-answer-4.png' %}" alt="數位名片1.0總覽-簡介">
                                                 
                                                </div>
                                                
                                            </div>
                                        </li>
                                        <li>
                                            <div class="title">社區經營 / 當責社區</div>
                                            
                                            <div class="answer">
                                                <div class="textbox">
                                                    社區經營：<br>
                                                    展示<strong>信義對於社區的經營成效</strong>，可查閱歷史資料了解細戶脈絡。同時也顯示業務同仁在社區的經營紀錄。<br>
                                                    <br>
                                                    當責社區：<br>
                                                    除了上述資料呈現，此欄位<strong>專為社區維護人提供優於其他業務的細戶資料</strong>。並維護社區資訊及添加細戶標籤，讓系統更能算出對您有利的獨家訊息。
                                                </div>
                                                <div class="imagebox">
                                                    <img src="{% static 'assets/img/functionintro/community-answer-5.png' %}" alt="數位名片1.0總覽-簡介">
                                                  
                                                </div>
                                                
                                            </div>
                                        </li>
                                        <li>
                                            <div class="title">物件細節</div>
                                            
                                            <div class="answer">
                                                <div class="textbox">
                                                    將細戶<strong>物件詳情標籤化</strong>，更便利於查看與篩選細戶，簡化到處查詢的繁瑣。
                                                </div>
                                                <div class="imagebox">
                                                    <img src="{% static 'assets/img/functionintro/community-answer-6.png' %}" alt="數位名片1.0總覽-簡介">
                                                </div>
                                                
                                            </div>
                                        </li>
                                    </ol>
                                </div>
            
                              
            
                            </div>
                        </div>
            
            
                    </section>
                </div>
            </div>

            <div id="fixedblock">
                <a id="btnlinkblock" href="https://sinyi-superagent-webapp-uscmmvx6lq-de.a.run.app/sa_index.html" target="_blank" > </a>
                <!-- <div id="fixedblock-toggle-btn"><span class="close"></span></div> -->
                <div class="block-body">
                    <div class="block-title">
                        <h4><strong>Super Agent </strong>v0.7.0 有新功能囉！</h4>
                    </div>
                    <div class="block-body">
                        <p>數位名片再進化，自介隨我編！分享FB再送限定黑卡版～<br>有任何想說的話，都歡迎使用SA APP內回饋表單告訴SA小組唷～<br>這次更新：</p>
                        <p><strong>
                            1.「數位名片」： 自介編輯<br>
                            2.「意見回饋」：意見表單
                        </strong></p>
                        
    
                    </div>
                    <div class="block-footer">
                        <!-- <a href="#" class="blockbtns">我要回饋</a> -->
                        <!-- <a href="#" class="blockbtns">下載體驗</a> -->
                        <div class="qrcode"><img src="{% static 'assets/img/sa-download.png' %}"></div>
                        <p class="note"><strong>[ 僅提供 iPhone 手機夥伴下載 ]</strong><br><br> 由於產品團隊採用敏捷式開發，為快速回應需求與動態調整迭代，SA發展過程中將優先鎖定iOS進行開發，請持有iPhone手機夥伴，踴躍下載搶先體驗！
                        </p>
                    </div>
                </div>
            </div>










        <footer>
            <div class="inner">
                <div class="top">
                    <div class="logo-container">
                        <a href="/sa/" class="logo" data-trigger-page-transition></a>

                    </div>


                </div>

                <div class="bottom">
                    <nav class="footer">

                        <a href="/sa/" class="nav-link" data-trigger-page-transition><span class="text">首頁</span> <span class="line"></span></a>
                        <a href="/sa/events/" data-trigger-page-transition class="nav-link" ><span class="text">活動快訊</span> <span class="line"></span></a>
                        <a href="/sa/functionintro/" class="nav-link" data-trigger-page-transition><span class="text">SA攻略</span> <span class="line"></span></a>
                        <a href="/sa/pd_data/" class="nav-link" data-trigger-page-transition><span class="text">產品熱度</span> <span class="line"></span></a>
                        <a href="/sa/voting/" class="nav-link" data-trigger-page-transition><span class="text">點讚GO!</span> <span class="line"></span></a>
                        <a href="https://sinyi-superagent-webapp-uscmmvx6lq-de.a.run.app/sa_index.html" target="_blank" class="nav-link" ><span class="text">手刀下載</span> <span
                            class="line"></span></a>
                     
                    </nav>

                    <div class="right">
                        <nav class="footer-sub">
                            <span>Copyright &copy; 2022 信義房屋股份有限公司 Transformation Office . All rights reserved.</span>

                        </nav>



                        <div id="gRecaptcha" class="g-recaptcha"></div>
                    </div>
                </div>
            </div>
        </footer>

        <div class="messages-container">
            <a href="/sa/#" class="close-icon"></a>
        </div>
    </div>


    <script type="text/javascript" src="{% static 'assets/js/manifest-sa.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/sa.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/script_sa.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/smoothscroll.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'js/jquery.easypiechart.min.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/interface.js' %}"></script>

    <script>
        window.onRecaptchaLoad = function() {
            window.grecaptchaClientId = grecaptcha.render('gRecaptcha', {
                'sitekey': '6LeNkL4UAAAAAJcRfruukBp2lab65JDvT8AmeKTS',
                'badge': 'inline',
                'size': 'invisible',
                'theme': 'dark'
            });
        };


        $(document).ready(function(){
            $("#qasliderow-namecard ol li .title").click(function(){
                $(this).toggleClass('open');
                $(this).siblings('.answer').slideToggle();
            });
        });
        $(document).ready(function(){
            function hidemenu(){
               $("header.menu-open").removeClass("menu-open");
            }
            setTimeout(hidemenu, 2000);
        });
    </script>


</body>

</html>