{% load static%}
<!doctype html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">

    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'assets/img/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'assets/img/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets/img/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/img/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'assets/img/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'assets/img/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'assets/img/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'assets/img/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'assets/img/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/img/favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">

    <link rel="stylesheet" href="{% static 'assets/css/pd_data.css' %}">


    <meta name="theme-color" content="#ffffff">


	<title>信義房屋 - Super Agent 打造您的職能守護神</title>
	<meta name="description" content="Sinyi - Super Agent 打造您的職能守護神" />

	<meta property="fb:app_id" content="">
	<meta property="og:type" content="website" />
	<meta property="og:title" content="SuperAgent是承載數據與科技的數位平台，信義夥伴透過次世代智能協作，人人都是超級業務" />
	<meta property="og:image" content="assets/img/logo-small.png" />

	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="600" />
	<meta property="og:description" content="打造您的職能守護神、數位賦能 服務全能、一鍵生成 工作即報表、數據整合 秒懂客戶" />
	<meta property="og:site_name" content="Super Agent" />



	<link rel="home" href="index.html" />
	<link rel="canonical" href="index.html">
    <link rel="stylesheet" href="{% static 'assets/css/sa.css' %}">

	<link href="{% static 'css/style.css' %}" rel="stylesheet"  media="screen">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'assets/css/commons.css' %}">


    <div id="top"></div>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-ML8B9HB');</script>
    <!-- End Google Tag Manager -->

</head>

<body class="thumbsupgo">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-ML8B9HB"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<header>
    <div class="background" data-toggle-menu></div>

    <div class="nav-container">
        <div class="top">
            <a href="/sa/" class="logo"></a>

            <nav class="main">
                <a href="/sa/" class="nav-link" data-trigger-page-transition><span class="text">首頁</span> <span class="line"></span></a>
                <a href="/sa/functionintro/" class="nav-link" data-trigger-page-transition><span class="text">SA攻略</span> <span class="line"></span></a>
                <a href="/sa/pd_data/" class="nav-link" data-trigger-page-transition><span class="text" target="_blank">產品熱度</span> <span class="line"></span></a>
                <a href="/sa/voting/" class="nav-link" data-trigger-page-transition><span class="text" target="_blank">點讚GO!</span> <span class="line"></span></a>
                <a href="https://sinyi-superagent-webapp-uscmmvx6lq-de.a.run.app/sa_index.html" target="_blank" class="nav-link" ><span class="text" target="_blank">手刀下載</span> <span class="line"></span></a>
            </nav>
            <a href="/sa/#" class="hidden-button" data-toggle-trial></a>
        </div>
        <div class="bottom">
            <a href="/sa/#" class="hidden-button" data-toggle-trial></a>
            <div class="form-container tabs-container">
                <div class="tabs">
                    <a href="/sa/#" class="heading tab active" data-open-tab="trialForm">聯絡我們</a>
                </div>
                <div class="tab-content-container">
                    <div class="tab-content active" data-tab="trialForm">
                        <p>同仁有任何想法，歡迎與SuperAgent團隊聯絡</p>
                            <p>E-Mail:<a href="mailto:SuperAgent@sinyi.com.tw?subject=主旨&body=內容">SuperAgent@sinyi.com.tw</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-bar-container">
        <div class="menu-bar">
            <a href="/sa/" class="logo small" data-trigger-page-transition></a>
            <a href="/sa/#" class="menu-button" data-toggle-menu>
                <span class="menu-button-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>
            <a href="/sa/#" class="trial-link" data-toggle-trial><span class="text">Contact Us</span></a>
        </div>
    </div>
</header>

<!-- 右側內容 -->
<div id="d_container">
    <section>
        <img src="{% static 'assets/img/pd_data/img_logo.png' %}" alt="log" />
        <nav>
            <ul>
                <li id="l1_s">
                    <img src="{% static 'assets/img/pd_data/ic_sa.png' %}">
                    <a href="">SA產品數據</a>
                </li>
                <li><a href="">數位名片</a></li>
                <li><a href="">社區百科</a></li>
                <li><a href="">信義足跡</a></li>
            </ul>
        </nav>
    </section>
    <aside>
        <nav>
            <h1>SA產品數據</h1>
            <div id="d_nav">
                <ul>
                    <li id="l2_0" class="d_nav_item d_nav_s">總覽</li>
                    <li id="l2_1" class="d_nav_item">地理區<img src="{% static 'assets/img/pd_data/ic_down_arrow.svg' %}" /></li>
                    <li id="l2_2" class="d_nav_item">年資<img src="{% static 'assets/img/pd_data/ic_down_arrow.svg' %}" /></li>
                    <li id="l2_3" class="d_nav_item">職級<img src="{% static 'assets/img/pd_data/ic_down_arrow.svg' %}" /></li>
                </ul>
            </div>
            <div id="selection_box"></div>
        </nav>
        <article>
            <div class="content">
                <div id="section1">
                    <h3>SA產品數據<span id="span1">總覽</span><span id="span2"></span></h3>
                    <img id="help" src="{% static 'assets/img/pd_data/ic_help.svg' %}" />
                    <div id="pop_instruction">
                        <img id="pop_close" src ="{% static 'assets/img/pd_data/ic_close.svg' %}" />
                        <h4>圖表相關說明</h4>
                        <ul>
                            <li>每週常態使用之定義：<br/>是以(過去4週使用總天數) / (過去4週服務開啟之週數) 做計算</li>
                            <li>常態使用定義之過去4週不包含本週</li>
                        </ul>
                    </div>
                </div>
                <div id="section2">
                    <div class="s2 s2_140">
                        <h4><img src="{% static 'assets/img/pd_data/ic_selection2_1.svg'%}" /><span>常態使用率</span></h4>
                        <div id="s2_1"><span id="s2_span1">-</span><span class="s2_span">%</span></div>
                    </div>
                    <div class="s2 s2_140">
                        <h4><img src="{% static 'assets/img/pd_data/ic_selection2_2.svg' %}" /><span>常態使用人數</span></h4>
                        <div><sapn id="s2_span2">-</sapn><span class="s2_span">人</span></div>
                    </div>
                    <div class="s2">
                        <h4><img src="{% static 'assets/img/pd_data/ic_selection2_3.svg' %}" /><span>過去 12 週常態使用趨勢（每週使用 3 日以上）</span></h4>
                        <div class="d_chart"></div>
                    </div>
                </div>
                <div id="section3">
                    <div class="frame">
                        <div id="s3_title">
                            <h4>
                                <img src="{% static 'assets/img/pd_data/ic_selection3.svg'%}" />
                                <span class="s3_title_span">過去 12 週服務常態使用狀況</span>
                            </h4>
                        </div>
                        <div id="chart_btn">
                            <button id="chart_btn1" class="chart_btn_s">常態使用率</button>
                            <button id="chart_btn2" class="">使用時間熱度</button>
                        </div>
                        <div class="d_chart"></div>
                        <div class="scale">
                            <img src="{% static 'assets/img/pd_data/img_scale1.svg' %}" alt="比例尺" />
                        </div>
                        <div id="tip1" class="tip">
                            <div>
                                <div>週使用3日以上：</div>
                                <div>近28日曾使用：</div>
                            </div>
                            <div id="tip_info">
                                <div><span id="tip_info1">13</span>人</div>
                                <div><span id="tip_info2">100</span>人</div>
                            </div>
                        </div>
                        <div id="tip2" class="tip">
                            <div>
                                <div id="tip2_info1">星期一</div>
                                <div><span id="tip2_info2">24</span> 時</div>
                            </div>
                            <div>使用人數：<span id="tip2_info3">100</span> 人</div>
                        </div>
                        <div id="tip3" class="tip">
                            <h3>週使用人數</h3>
                            <div>
                                <div>
                                    <div><span id="color3" class="plate"></span>週使用3日以上：</div>
                                    <div><span id="color2" class="plate"></span>週使用2日：</div>
                                    <div><span id="color1" class="plate"></span>週使用1日：</div>
                                </div>
                                <div>
                                    <div><span id="tip3_info3">8</span> 人</div>
                                    <div><span id="tip3_info2">50</span> 人</div>
                                    <div><span id="tip3_info1">127</span> 人</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </aside>
</div>


<!-- javascript -->
<script type="text/javascript" src="{% static 'assets/js/manifest-sa.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/sa.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/script_sa.js' %}"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/smoothscroll.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'js/jquery.easypiechart.min.js' %}"></script>
<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'js/interface.js' %}"></script>


<script src="https://d3js.org/d3.v6.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.js"></script>

<script>
    window.onRecaptchaLoad = function() {
        window.grecaptchaClientId = grecaptcha.render('gRecaptcha', {
            'sitekey': '6LeNkL4UAAAAAJcRfruukBp2lab65JDvT8AmeKTS',
            'badge': 'inline',
            'size': 'invisible',
            'theme': 'dark'
        });
    };

    $(document).ready(function(){
        $('.bxslider').bxSlider({
            speed: 600,
            mode: 'horizontal',
            infiniteLoop: true,
            easing: 'ease-in-out',
            adaptiveHeight: true,
            responsive: true,
            preloadImages: 'all',
            auto:true,
            autoHover: true,
            preventDefaultSwipeY: true
        });

    });
</script>
<!-- <script src="{% static 'assets/js/pd_data.js' %}"></script> -->
<script>
        // 一級選單：l1_1
        // 二級選單：l2_1
        let selection = ["l1_1","l2_1"];
        // 二級選單標題
        const l2_items_title = ["總覽","地理區","年資","職級"];
        // 二級選單項目
        const l2_items = [
            [],
            ["台北","新北","桃園","新竹","台中","台南","高雄"],
            ["1年以下","1-2年","3-5年","6-10年","11-15年","16年以上","試用"],
            ["二級專員","一級專員","主任","專案經理","專執經以上","試用"]
            ]
        // 匯入資料
        const context = JSON.parse('{{context|safe}}');
        // console.log(context);

        const initial =()=>{
            var url=decodeURI(window.location.href);
            var arry1 = url.split("?");

            if(arry1[1]){
                var arry2 = arry1[1].split("&");
                var type_name=arry2[0].split("=")[1];
                var type_level=arry2[1].split("=")[1];

                $("#span1").html(type_name);
                $("#span2").html(type_level);

                var index = l2_items_title.indexOf(type_name);

                $(".d_nav_item").removeClass("d_nav_s");
                $(`#l2_${index}`).attr("class","d_nav_s d_nav_item");
            }

            var chartType = "chart1";

            section2(context["overview"]);

            if(!(localStorage.getItem("chartType"))){
                section3_1(context["bar_chart"]);
            }

            else{
                chartType = localStorage.getItem("chartType")
                if (chartType == "chart1"){
                    section3_1(context["bar_chart"]);
                }
                else {
                    section3_2(context["heatmap"]);
                }
            }
        }

        const section2 = (overview) =>{

            var s2_span1 = (overview["regular_usage"][0]*100).toFixed(1);

            $("#s2_span1").text(s2_span1);
            $("#s2_span2").text(overview["regular_usage"][1]);

            const svgSize={ width: 618,height: 80 };
            const margin = { top: 12, right: 34, bottom: 18, left: 36 };
            var width = svgSize.width - margin.left - margin.right;
            var height = svgSize.height - margin.top - margin.bottom;

            // 建立 svg 畫布
            var svg = d3
            .select("#section2 .d_chart")
            .append("svg")
            .attr("width", svgSize.width)
            .attr("height", svgSize.height)
            // 建立圖表群組
            var chart = svg
            .append("g")
            .attr("transform",`translate(${margin.left},${margin.top})`)
            .attr("class","pd_data_chart");

            // 匯入資料

            var n_data = overview["twelve_week_avgusers"];

            // 製作比例尺
            var xScale = d3.scaleBand()
                        .domain(n_data.map(d => d.date))
                        .range([0, width]);

            var yScale = d3.scaleLinear()
                        .domain([0, (d3.max(n_data,d=>d.avg_usage_over_3_days)+25)])
                        .range([height, 0])
            // 建立座標軸
            var axisX = d3.axisBottom(xScale)
                            .tickSize(0)
                            .tickPadding(7)
            var axisY = d3.axisLeft(yScale)
                            .tickFormat(" ")
                            .tickSize(0);

            chart.append("g")
            .call(axisX)
            .attr("transform", `translate(0,${height})`);
            chart.append("g")
            .call(axisY)

            chart.append("text")
                .attr("y", height+14)
                .attr("x", width+10 )
                .attr("text-anchor", "start")
                .attr("font-size",14)
                .text("週");
            chart.append("text")
                .attr("x", -6)
                .attr("y", "20")
                .attr("text-anchor", "end")
                .attr("font-size",14)
                .text("人數");

            // 計算折線端點座標
            var line = d3.line()
                        .x(d => xScale(d.date))
                        .y(d => yScale(d.avg_usage_over_3_days));

            var gPath = chart.append("g")
                        .style("transform", "translate(22px,0)");

            gPath.append("path")
                .datum(n_data)
                .attr("class", "line")
                .attr("d", line)
                .style("fill", "none")
                .style("stroke", "#75CDD280")
                .style("stroke-width", "1.7px");

            gPath.selectAll("circle")
                .data(n_data)
                .enter()
                .append("circle")
                .attr("class", "dot")
                .attr("cx", d => xScale(d.date))
                .attr("cy", d => yScale(d.avg_usage_over_3_days))
                .attr("r", 3.2)
                .style("fill", "#23989F")

            gPath.selectAll("text")
                .data(n_data)
                .enter()
                .append("text")
                .attr("x", d => xScale(d.date))
                .attr("y", d => yScale(d.avg_usage_over_3_days)-7)
                .attr("text-anchor", "middle")
                .style("fill", "#23989F")
                .attr("font-size",14.5)
                .style("font-weight", "500")
                .text(d => d.avg_usage_over_3_days)
        }

        const section3_1 = (bar_chart) => {
            $(".s3_title_span").html("過去 12 週服務常態使用狀況");
            $("#section3 .d_chart svg").remove();
            $("#chart_btn button").removeClass();
            $("#chart_btn1").attr("class","chart_btn_s")

            var src_string = $(".scale img").attr("src")
            var index = src_string.indexOf("scale");
            var string_part = src_string.slice(0,index+5);
            $(".scale > img").attr("src",string_part+'1'+'.svg');

            let s3_1_data=bar_chart;

            const svgSize={ width: 940,height: 338 };
            const margin = { top: 40, right: 100, bottom: 35, left: 70 };
            var width = svgSize.width - margin.left - margin.right;
            var height = svgSize.height - margin.top - margin.bottom;

            var colors = ["#C2F1F4", "#79E0CF", "#2BB5C8"];

            var svg = d3
                .select("body")
                .select("#section3 .d_chart")
                .append("svg")
                .attr("width", svgSize.width)
                .attr("height", svgSize.height)

            var chart = svg
                .append("g")
                .attr("transform",`translate(${margin.left},${margin.top})`)
                .attr("class","pd_data_chart2");

                // 週
                var weeksName = s3_1_data["stack"].map(d=>d.date);
                // 常態使用人數總和
                var counts = s3_1_data["stack"].map(d=>d.value);
                // 總和陣列
                var sum=[];
                counts.forEach((d,i)=>{
                    sum[i]=d.avg_usage_1_days+d.avg_usage_2_days+d.avg_usage_over_3_days;
                })

                // 製作比例尺
                var xScale = d3.scaleBand()
                            .domain(weeksName)
                            .range([0, width])
                            .paddingInner(0.4)
                            .paddingOuter(0.35);

                var yScale = d3.scaleLinear()
                            .domain([0, d3.max(counts, d => d.avg_usage_1_days + d.avg_usage_2_days + d.avg_usage_over_3_days)+2])
                            .range([height, 0]);
                var yScale2 = d3.scaleLinear()
                            .domain([0, 100])
                            .range([height, 0]);

                // 建立座標軸
                var axisX = d3.axisBottom(xScale)
                            .tickPadding(14)
                            .tickSize(0,0)
                var axisY = d3.axisLeft(yScale)
                            .tickFormat(d => d+" 人")
                var axisY2 = d3.axisLeft(yScale)
                            .tickFormat("")
                            .tickSize(-770,0)

                chart.append("g")
                    .call(axisX)
                    .attr("transform", `translate(0,${height})`)
                    .attr("id","chart2_x")
                chart.append("g")
                    .call(axisY)
                    .attr("id","chart2_y")
                chart.append("g")
                     .call(axisY2)
                     .attr("stroke-width", "0.07px");
                chart.append("text")
                    .attr("y", 285)
                    .attr("x", width+15)
                    .text("週");
                chart.append("text")
                    .attr("x", "30px")
                    .attr("y", "-15px")
                    .attr("text-anchor", "end")
                    .text("常態使用人數");

                // 文字顯示
                chart.append("g")
                    .attr("class","pd_data_chart2_text")
                    .selectAll("text")
                    .data(sum)
                    .enter()
                    .append("text")
                    .attr("x",(d,i)=> xScale(weeksName[i]))
                    .attr("y",(d,i)=> yScale(d)-6)
                    .attr("font-weight", "500")
                    .attr("font-size", "13px")
                    .style("fill", "#666666")
                    .text(d=>(d+" 人"))


                // 進行分組
                const stack = d3.stack().keys(["avg_usage_1_days", "avg_usage_2_days", "avg_usage_over_3_days"]);

                var groups = chart.selectAll(".stack")
                                .data(stack(counts))
                                .enter()
                                .append("g")
                                .attr("class", "stack")
                                .style("fill", (d, i) => colors[i]);
                groups.selectAll("rect")
                        .data(d => d)
                        .enter()
                        .append("rect")
                        .attr("x", (d, i) => xScale(weeksName[i]))
                        .attr("y", d => yScale(d[1]))
                        .attr("width", xScale.bandwidth())
                        .attr("height", d => yScale(d[0]) - yScale(d[1]))
                        .on("mousemove",(e,d)=>{
                            d3.select("#tip3").style("visibility","visible")
                                .style("top",e.offsetY-100+"px")
                                .style("left",e.offsetX-88+"px")
                            d3.select("#tip3_info3").text(d.data["avg_usage_over_3_days"]);
                            d3.select("#tip3_info2").text(d.data["avg_usage_2_days"]);
                            d3.select("#tip3_info1").text(d.data["avg_usage_1_days"]);
                        })
                        .on("mouseout",()=>{
                            d3.select("#tip3").style("visibility","hidden")
                        })

                // 畫折線圖
                var line = d3.line()
                            .x(d => xScale(d.week))
                            .y(d => (yScale2(d.value.regular_percentage)));
                var gPath = chart.append("g")
                                .style("transform", "translate(18px,0)");
                gPath.append("path")
                    .datum(s3_1_data["line"])
                    .attr("class", "line")
                    .attr("d", line)
                    .style("fill", "none")
                    .style("stroke", "#75CDD2")
                    .style("stroke-width", "2.5px");
                gPath.selectAll("circle")
                    .data(s3_1_data["line"])
                    .enter()
                    .append("circle")
                    .attr("class", "dot2")
                    .attr("cx", d => xScale(d.week))
                    .attr("cy", d => yScale2(d.value.regular_percentage))
                    .attr("r", 5)
                    .style("fill", "#23989F")
                    .on("mouseover",(e,d)=>{

                        d3.selectAll(".dot2").attr("r",5);

                        d3.select(e.currentTarget)
                        .transition()
                        .duration(100)
                        .attr("r",11)

                        d3.select("#tip1").style("visibility","visible")
                                        .style("top",yScale2(d.value.regular_percentage)-11+"px")
                                        .style("left",xScale(d.week)+"px")
                        d3.select("#tip_info1").text(d.value.avg_usage_over_3_days);
                        d3.select("#tip_info2").text(d.value.opened_sa_in_four_weeks);

                    })
                    .on("mouseout",(e,d)=>{
                        d3.select(e.currentTarget)
                        .attr("r",5)
                        d3.select("#tip1").style("visibility","hidden")
                    })
                gPath.selectAll("text")
                    .data(s3_1_data["line"])
                    .enter()
                    .append("text")
                    .attr("x", d => xScale(d.week))
                    .attr("y", d => yScale2(d.value.regular_percentage)-14)
                    .attr("text-anchor", "middle")
                    .style("fill", "#666666")
                    .attr("font-size",14.5)
                    .style("font-weight", "500")
                    .text(d => {
                        if(d.value.regular_percentage >= 1){
                            return (d.value.regular_percentage*100).toFixed(0)+"%";
                        }
                    })
        }

        const section3_2 = (heatmap) => {
            $(".s3_title_span").html("過去 1 週服務使用時間熱度");
            $("#section3 .d_chart svg").remove();
            $("#chart_btn button").removeClass();
            $("#chart_btn2").attr("class","chart_btn_s")

            var src_string = $(".scale img").attr("src")
            var index = src_string.indexOf("scale");
            var string_part = src_string.slice(0,index+5);
            $(".scale > img").attr("src",string_part+'2'+'.svg');

            const svgSize={ width: 940,height: 338 };
            const margin = { top: 40, right: 100, bottom: 35, left: 70 };
            var width = svgSize.width - margin.left - margin.right;
            var height = svgSize.height - margin.top - margin.bottom;

            var svg = d3
                .select("body")
                .select("#section3 .d_chart")
                .append("svg")
                .attr("width", svgSize.width)
                .attr("height", svgSize.height)
            var chart = svg
                .append("g")
                .attr("transform",`translate(${margin.left},${margin.top})`)
                .attr("id","heatmap");
            const hourArray = ["0","1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23",];
            const weekArray = ["星期日", "星期六", "星期五", "星期四", "星期三", "星期三", "星期二", "星期一"];

            const xScale = d3.scaleBand()
                        .domain(hourArray)
                        .range([ 0, width ])
                        .padding(0.01);

            const yScale = d3.scaleBand()
                        .range([ height, 0])
                        .domain(weekArray)
                        .padding(0.01);
            var axisX = d3.axisBottom(xScale)
                        .tickPadding(10)
            var axisY = d3.axisLeft(yScale)
                        .tickPadding(8)
                        .tickSize(0);
            chart.append("g")
                 .attr("transform", `translate(-1, ${height})`)
                 .call(axisX)
                 .attr("id","chart3_x")
            chart.append("g")
                 .attr("transform", `translate(-1, 0)`)
                 .call(axisY)
                 .attr("id","chart3_y")

            const myColor = d3.scaleLinear()
                // .range(["#C2F1F4", "#55D2BE","#2BB5C8"])
                .range(["#C2F1F4","#52CBB9"])
                .domain([0,parseInt(d3.max(heatmap["data"],d=>d.users))])

            chart.append("text")
                .attr("y", 285)
                .attr("x", width+15)
                .text("小時");
            chart.append("text")
                .attr("x", "-10px")
                .attr("y", "-15px")
                .attr("text-anchor", "end")
                .text("星期");
            chart.append("text")
                .attr("x", "520px")
                .attr("y", "-10px")
                .attr("text-anchor", "end")
                .attr("id","heatmap_title")
                .attr("fill","#555555")
                .attr("font-weight","bold")
                .text(heatmap["period"]);

            chart.selectAll()
                .data(heatmap["data"], function(d) {
                    return d.group+':'+d.variable;})
                .join("rect")
                .attr("x", function(d) { return xScale(d.hour) })
                .attr("y", function(d) { return yScale(d.day) })
                .attr("width", xScale.bandwidth() )
                .attr("height", yScale.bandwidth() )
                .style("fill", function(d) { 
                    if(d.users==0){
                        return "#F4F4F480";
                    }
                    return myColor(d.users)} 
                )
                .on("mouseover",(e,d)=>{
                    d3.select(e.currentTarget).attr("stroke","#2E88BA")
                                                .attr("stroke-width",2.5)
                    d3.select("#tip2").style("visibility","visible")
                        .style("top",e.offsetY+10+"px")
                        .style("left",e.offsetX+10+"px")
                    if (e.offsetX > 500 ){
                        d3.select("#tip2")
                            .style("left",e.offsetX-155+"px")
                    }
                    d3.select("#tip2_info1").text(d.day);
                    d3.select("#tip2_info2").text(d.hour);
                    d3.select("#tip2_info3").text(d.users);
                })
                .on("mouseout",(e,d)=>{
                    d3.select(e.currentTarget).attr("stroke","none")
                    d3.select("#tip2").style("visibility","hidden")
                })
        }

        initial();


        // 切換圖表按鈕
        $("#chart_btn button").on("click",(e)=>{
            var src_string = $(".scale img").attr("src")

            var index = src_string.indexOf("scale");
            var string1 = src_string.slice(0,index+5);

            $("#section3 .d_chart svg").remove();
            $("#chart_btn button").removeClass();
            let btn_id = e.target.id;
            if(btn_id == "chart_btn1"){
                $(".s3_title_span").html("過去 12 週服務常態使用狀況");
                section3_1(context["bar_chart"]);

                localStorage.setItem("chartType","chart1");

                $(".scale > img").attr("src",string1+'1'+'.svg');
            }else if(btn_id == "chart_btn2"){
                $(".s3_title_span").html("過去 1 週服務使用時間熱度");
                section3_2(context["heatmap"]);
                $(".scale > img").attr("src",string1+'2'+'.svg');
                localStorage.setItem("chartType","chart2");
            }
        })
        // 二級選單 hover
        $(".d_nav_item").mouseover((e)=>{

            if(!$(`#${e.target.id}`).hasClass('d_nav_s')){
                $(`#${e.target.id}`).addClass("d_nav_h");
            }

            let index=(e.target.id.slice(3,4))

            // 輸出選項
            if(index != 0){
                $("#selection_box").append("<ul></ul>")
                $("#selection_box").css("visibility","visible");
                for(let i=0;i<l2_items[index].length;i++){
                    // l2_1_1
                    $("#selection_box ul").append(`<li id="l2_${index}_${i}">${l2_items[index][i]}</li>`)
                }
            }
            $("#selection_box").css("left",100*index+30);
        })
        $("#selection_box").hover(()=>{
            if(!$("#selection_box").is(":hover")){
                $("#selection_box ul").remove();
                $("#selection_box").css("visibility","hidden");
                $(".d_nav_item").removeClass("d_nav_h");
            }
        })
        $("#d_nav ul").mouseout(()=>{
            if(!$("#selection_box").is(":hover")){
                $("#selection_box ul").remove();
                $("#selection_box").css("visibility","hidden");
                $(".d_nav_item").removeClass("d_nav_h");
            }
        })
        // 二級選單點擊功能
        $("#selection_box").click((e)=>{
            let id =e.target.id;
            $(".d_nav_item").removeClass("d_nav_s");
            $(`#${id.slice(0,4)}`).attr("class","d_nav_s d_nav_item");
            $(".d_nav_item").removeClass("d_nav_h");

            var index = $(`#${id.slice(0,4)}`).attr("id").slice(3,4);

            $("#span1").html(l2_items_title[index]);
            $("#span2").html(e.target.innerHTML);

            var type_name=l2_items_title[id.slice(3,4)];
            var type_level=e.target.innerHTML;

            // 換頁
            window.location = `/sa/pd_data/?type_name=${type_name}&type_level=${type_level}`;

        })
        // 總覽點擊功能
        $("#l2_0").click((e)=>{
            $(".d_nav_item").removeClass("d_nav_s");
            $(`#l2_0`).attr("class","d_nav_s d_nav_item");
            $("#selection_box").css("visibility","hidden");
            $("#span1").html("總覽");
            $("#span2").html("");
            window.location = `/sa/pd_data`;
        })
        $("#help").click(()=>{
            $("#pop_instruction").css("visibility","visible");
        })

        $("#pop_close").click(()=>{
            $("#pop_instruction").css("visibility","hidden");
            // $("#pop_instruction").css("visibility","visible");
        })
</script>
</body>
</html>
