{% load static %}
<!doctype html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">


    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'assets/img/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'assets/img/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets/img/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/img/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'assets/img/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'assets/img/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'assets/img/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'assets/img/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'assets/img/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/img/favicon/manifest.json' %}">
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&amp;subset=chinese-traditional,japanese" class="next-head">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&amp;subset=chinese-traditional,japanese" rel="stylesheet" class="next-head">
    <meta name="msapplication-TileColor" content="#ffffff">

    <meta name="theme-color" content="#ffffff">


    <title>信義房屋 - Super Agent 打造您的職能守護神</title>
    <meta name="description" content="Sinyi - Super Agent 打造您的職能守護神" />

    <meta property="fb:app_id" content="">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="SuperAgent是承載數據與科技的數位平台，信義夥伴透過次世代智能協作，人人都是超級業務" />
    <meta property="og:image" content="assets/img/logo-small.png" />

    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="600" />
    <meta property="og:description" content="打造您的職能守護神、數位賦能 服務全能、一鍵生成 工作即報表、數據整合 秒懂客戶" />
    <meta property="og:site_name" content="Super Agent" />


    <link rel="home" href="/sa/" />
	<link rel="canonical" href="/sa/">
    <link rel="stylesheet" href="{% static 'assets/css/sa.css' %}">
	<link href="{% static 'css/style.css' %}" rel="stylesheet"  media="screen">
    <link href="{% static 'assets/css/commons.css' %}" rel="stylesheet">

    <div id="top"></div>
    <!-- Google Tag Manager -->
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-ML8B9HB');
    </script>
    <!-- End Google Tag Manager -->

</head>

<body class="functionintro">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-ML8B9HB"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header class="menu-open">
        <div class="background" data-toggle-menu></div>

        <div class="nav-container">
            <div class="top">
                <a href="/sa/" class="logo"></a>
               
                <nav class="main">   
                    <a href="/sa/" class="nav-link" data-trigger-page-transition><span class="text">首頁</span> <span class="line"></span></a>
                    <a href="/sa/events/" class="nav-link" data-trigger-page-transition><span class="newtag">NEW</span><span class="text" target="_blank">活動快訊</span> <span class="line"></span></a>
                    <a href="/sa/functionintro/" class="nav-link" data-trigger-page-transition><span class="text">SA攻略</span> <span class="line"></span></a>
                    <a href="/sa/pd_data/" class="nav-link" data-trigger-page-transition><span class="text" target="_blank">產品熱度</span> <span class="line"></span></a>
                    <a href="/sa/voting/" class="nav-link" data-trigger-page-transition><span class="text" target="_blank">點讚GO!</span> <span class="line"></span></a>
                    <a href="https://sinyi-superagent-webapp-uscmmvx6lq-de.a.run.app/sa_index.html" target="_blank" class="nav-link" ><span class="text" target="_blank">手刀下載</span> <span class="line"></span></a>

                </nav>


                <a href="/sa/#" class="hidden-button" data-toggle-trial></a>
            </div>

            <div class="bottom">
                <a href="/sa/#" class="hidden-button" data-toggle-trial></a>

                <div class="form-container tabs-container">
                    <div class="tabs">
                        <a href="/sa/#" class="heading tab active" data-open-tab="trialForm">聯絡我們</a>

                    </div>


                    <div class="tab-content-container">
                        <div class="tab-content active" data-tab="trialForm">
                            <p>同仁有任何想法，歡迎與SuperAgent團隊聯絡</p>
                            <p>E-Mail:
                                <a href="mailto:SuperAgent@sinyi.com.tw?subject=主旨&body=內容">SuperAgent@sinyi.com.tw</a></p>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="menu-bar-container">
            <div class="menu-bar">
                <a href="/sa/" class="logo small" data-trigger-page-transition></a>
                <a href="/sa/#" class="menu-button" data-toggle-menu>
                    <span class="menu-button-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                    </span>
                </a>

                <a href="/sa/#" class="trial-link" data-toggle-trial><span class="text">Contact Us</span></a>
            </div>

        </div>
    </header>


   


    <div class="wrapper">
 
            <div class="submenu">
                <ol>
                    <li class="namecard"><a href="/sa/functionintro/businesscard/"><div class="menu-item"><span>數位名片1.0</span></div></a></li>
                    <li class="community"><a href="/sa/functionintro/community/"><div class="menu-item"><span>社區檔案櫃</span></div></a></li>
                    <li class="active sellingprocess"><a href="#"><div class="menu-item"><span>買方服務流程</span></div></a></li>
                </ol>
            </div>
            <div class="rightcolumn">
                <div class="horizontalstyle">
                    <div class="nav-container">
                        <div class="top">
                            <a href="/sa/" class="logo black"></a>

                            <a href="/sa/#" class="hidden-button" data-toggle-trial></a>
                            <h2>SA攻略</h2>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/sa/">首頁</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">SA攻略 - 買方服務流程</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
            
                </div>
                <div class="content">
                    <section class="funcintro-intro">
                        <div class="container">
                            <div class="row" >
                                <div class="funcintro-sectitle">
                                    <h2 class="center">買方服務流程上線囉 !</h2>
                                    <div class="scrolldownarrow"></div>
                                </div>
                                <div class="funcintro-block greenbg nopaddingbottom">
                                    <h3 class="center">360度 秒懂客戶無死角</h3>
                                    <p class="center">提高專業度，服務不漏氣</p>
                                    <img src="{% static 'assets/img/functionintro/sellingprocess-intro-1.svg' %}" />
                                </div>
                                <div class="funcintro-block greenbg">
                                    <h3 class="center">複數需求卡，配案更靈活</h3>
                                    <p class="center">單一客戶複數需求卡，配案好閱讀，推薦不混亂</p>
                                    <img src="{% static 'assets/img/functionintro/sellingprocess-intro-2.svg' %}" />
                                </div> 
                                <div class="funcintro-block greenbg nopaddingbottom">
                                    <h3 class="center">任務完成紀錄也完成</h3>
                                    <p class="center">任務完成服務紀錄即完成，服務歷程不漏接</p>
                                    <img src="{% static 'assets/img/functionintro/sellingprocess-intro-3.svg' %}" />
                                </div> 
                            </div>
                        </div>
                    </section>
                    <section class="funcintro-qa">

                        <div class="container">
                            
                            <div class="row">

                                <div class="qasliderow" id="qasliderow-namecard">
                                    <h3 class="center">常見問題集</h3>
                                    <ol>
                                        <li>
                                            <div class="title">客戶360<span class="subitemtitle">進入客戶360｜對客戶的認識｜客戶歷史｜線上行為</span></div>
                                            <div class="answer">
                                                <div class="textbox">
                                                    <strong>輔助您環視客戶</strong>，了解客戶樣貌數據、信義足跡、線上行為，提前準備服務腳本。
                                                </div>
                                                <div class="imagebox">
                                                    <img src="{% static 'assets/img/functionintro/sellingprocess-answer-1.png' %}" alt="如何進入客戶360?">
                                                </div>
                                                <div class="imagebox">
                                                    <img src="{% static 'assets/img/functionintro/sellingprocess-answer-1_1.png' %}" alt="對客戶的認識">
                                                </div>
                                                <div class="imagebox">
                                                    <img src="{% static 'assets/img/functionintro/sellingprocess-answer-1_2.png' %}" alt="客戶的歷史">
                                                </div>
                                                <div class="imagebox">
                                                    <img src="{% static 'assets/img/functionintro/sellingprocess-answer-1_3.png' %}" alt="客戶線上行為">
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="title">客戶快找<span class="subitemtitle">如何找｜找自己的｜找全公司的</span></div>
                                            <div class="answer">
                                                <div class="textbox">
                                                    同時查自己與公司的客戶資料，省去來回切換的麻煩。
                                                   
                                                </div>
                                                <div class="imagebox">
                                                    <img src="{% static 'assets/img/functionintro/sellingprocess-answer-2.png' %}" alt="如何找客戶？">
                                                   
                                                </div>
                                                <div class="imagebox">
                                                    <img src="{% static 'assets/img/functionintro/sellingprocess-answer-2_1.png' %}" alt="找自己的客戶">
                                                   
                                                </div>
                                                <div class="imagebox">
                                                    <img src="{% static 'assets/img/functionintro/sellingprocess-answer-2_2.png' %}" alt="找公司的客戶">
                                                   
                                                </div>
                                                
                                            </div>
                                        </li>
                                        <li>
                                            <div class="title">需求卡<span class="subitemtitle">建立需求卡｜複數需求卡</span></div>
                                            
                                            <div class="answer">
                                                <div class="textbox">
                                                    針對單一客戶建立<strong>多張需求卡</strong>，客戶管理便利。配案更靈活，推薦不混亂。
                                                    
                                                </div>
                                                <div class="imagebox">
                                                    <img src="{% static 'assets/img/functionintro/sellingprocess-answer-6.png' %}" alt="建立需求卡">
                                                </div>
                                                <div class="imagebox">
                                                    <img src="{% static 'assets/img/functionintro/sellingprocess-answer-3.png' %}" alt="複數需求卡">
                                                </div>
                                               
                                            </div>
                                        </li>
                                        <li>
                                            <div class="title">推薦/帶看<span class="subitemtitle">所有的紀錄｜單一需求的紀錄</span></div>
                                            
                                            <div class="answer">
                                                <div class="textbox">
                                                    推薦過的案源與看過的案源一目瞭然。
                                                </div>
                                                <div class="imagebox">
                                                    <img src="{% static 'assets/img/functionintro/sellingprocess-answer-4.png' %}" alt="針對此客戶的所有推薦/帶看">
                                                 
                                                </div>
                                                <div class="imagebox">
                                                    <img src="{% static 'assets/img/functionintro/sellingprocess-answer-4_1.png' %}" alt="針對單張需求卡的推薦/帶看">
                                                 
                                                </div>
                                                
                                            </div>
                                        </li>
                                        <li>
                                            <div class="title">帶看任務<span class="subitemtitle">建立任務｜從人脈查看｜從行事曆查看</span></div>
                                            
                                            <div class="answer">
                                                <div class="textbox">
                                                    <strong>全新的任務體系概念</strong>，幫自己預約與客戶的服務我們稱做任務，除了可以在行事曆上提醒自己，任務若完成服務紀錄也隨之完成！
                                                </div>
                                                <div class="imagebox">
                                                    <img src="{% static 'assets/img/functionintro/sellingprocess-answer-5.png' %}" alt="建立任務">
                                                  
                                                </div>
                                                <div class="imagebox">
                                                    <img src="{% static 'assets/img/functionintro/sellingprocess-answer-5_1.png' %}" alt="查看已建立任務 (人脈)">
                                                  
                                                </div>
                                                <div class="imagebox">
                                                    <img src="{% static 'assets/img/functionintro/sellingprocess-answer-5_2.png' %}" alt="查看已建立任務 (任務首頁)">
                                                  
                                                </div>
                                                <div class="imagebox">
                                                    <img src="{% static 'assets/img/functionintro/sellingprocess-answer-5_3.png' %}" alt="完成任務">
                                                  
                                                </div>
                                                
                                            </div>
                                        </li>
                                        
                                    </ol>
                                </div>
            
                              
            
                            </div>
                        </div>
            
            
                    </section>
                </div>
            </div>

            <div id="fixedblock">
                <a id="btnlinkblock" href="https://sinyi-superagent-webapp-uscmmvx6lq-de.a.run.app/sa_index.html" target="_blank" > </a>
                <!-- <div id="fixedblock-toggle-btn"><span class="close"></span></div> -->
                <div class="block-body">
                    <div class="block-title">
                        <h4><strong>Super Agent </strong>iPhone手機夥伴 搶先下載體驗！</h4>
                    </div>
                    <div class="block-body">
                        <p>SA團隊歷經半年開發，目前已可提供iOS下載體驗，搭配嶄新設計風格，SA首推三大功能：</p>
                        <p><strong>
                            1.「社區百科」： 開發銷售好幫手，社區大小資訊即時一手掌握<br>
                            2.「數位名片」： 創造業務機會無遠弗屆，創新行銷通路廣結善緣<br>
                            3.「買方服務流程」：客戶建檔到推薦帶看，一氣呵成好管理
                        </strong></p>
                        
    
                    </div>
                    <div class="block-footer">
                        <!-- <a href="#" class="blockbtns">我要回饋</a> -->
                        <!-- <a href="#" class="blockbtns">下載體驗</a> -->
                        <div class="qrcode"><img src="{% static 'assets/img/sa-download.png' %}"></div>
                        <p class="note"><strong>[ 僅提供 iPhone 手機夥伴下載 ]</strong><br><br> 由於產品團隊採用敏捷式開發，為快速回應需求與動態調整迭代，SA發展過程中將優先鎖定iOS進行開發，請持有iPhone手機夥伴，踴躍下載搶先體驗！
                        </p>
                    </div>
                </div>
            </div>










        <footer>
            <div class="inner">
                <div class="top">
                    <div class="logo-container">
                        <a href="/sa/" class="logo" data-trigger-page-transition></a>

                    </div>


                </div>

                <div class="bottom">
                    <nav class="footer">

                        <a href="/sa/" class="nav-link" data-trigger-page-transition><span class="text">首頁</span> <span class="line"></span></a>
                        <a href="/sa/events/" class="nav-link" data-trigger-page-transition><span class="text">活動快訊</span> <span
                            class="line"></span></a>   
                        <a href="/sa/functionintro/" class="nav-link" data-trigger-page-transition><span class="text">SA攻略</span> <span class="line"></span></a>
                        <a href="/sa/pd_data/" class="nav-link" data-trigger-page-transition><span class="text">產品熱度</span> <span class="line"></span></a>
                        <a href="/sa/voting/" class="nav-link" data-trigger-page-transition><span class="text">點讚GO!</span> <span class="line"></span></a>
                        <a href="https://sinyi-superagent-webapp-uscmmvx6lq-de.a.run.app/sa_index.html" target="_blank" class="nav-link" ><span class="text">手刀下載</span> <span
                            class="line"></span></a>
                      
                    </nav>

                    <div class="right">
                        <nav class="footer-sub">
                            <span>Copyright &copy; 2022 信義房屋股份有限公司 Transformation Office . All rights reserved.</span>

                        </nav>



                        <div id="gRecaptcha" class="g-recaptcha"></div>
                    </div>
                </div>
            </div>
        </footer>

        <div class="messages-container">
            <a href="/sa/#" class="close-icon"></a>
        </div>
    </div>


    <script type="text/javascript" src="{% static 'assets/js/manifest-sa.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/sa.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/script_sa.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/smoothscroll.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'js/jquery.easypiechart.min.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/interface.js' %}"></script>

    <script>
        window.onRecaptchaLoad = function() {
            window.grecaptchaClientId = grecaptcha.render('gRecaptcha', {
                'sitekey': '6LeNkL4UAAAAAJcRfruukBp2lab65JDvT8AmeKTS',
                'badge': 'inline',
                'size': 'invisible',
                'theme': 'dark'
            });
        };


        $(document).ready(function(){
            $("#qasliderow-namecard ol li .title").click(function(){
                $(this).toggleClass('open');
                $(this).siblings('.answer').slideToggle();
            });
        });

        $(document).ready(function(){
            function hidemenu(){
               $("header.menu-open").removeClass("menu-open");
            }
            setTimeout(hidemenu, 2000);
        });
    </script>


</body>

</html>