<!--組元件用-->
<!--breadcrumbs 內容 -->


<div class="nav-container">
    <div class="top">
        <a href="/sa/" class="logo black"></a>

        <a href="/sa/#" class="hidden-button" data-toggle-trial></a>
        <h2>活動快訊</h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/sa/">首頁</a></li>
                <li class="breadcrumb-item active" aria-current="page">活動快訊</li>
            </ol>
        </nav>
    </div>
</div>