<div class="inner">
    <div class="top">
        <div class="logo-container">
            <a href="/sa/" class="logo" data-trigger-page-transition></a>

        </div>


    </div>

    <div class="bottom">
        <nav class="footer">

            <a href="/sa/" class="nav-link" data-trigger-page-transition><span class="text">首頁</span> <span class="line"></span></a>
            <a href="/sa/events/" class="nav-link" data-trigger-page-transition><span class="text">活動快訊</span> <span class="line"></span></a>
            <a href="/sa/functionintro/" class="nav-link" data-trigger-page-transition><span class="text">SA攻略</span> <span class="line"></span></a>
            <a href="/sa/pd_data/" class="nav-link" data-trigger-page-transition><span class="text">產品熱度</span> <span class="line"></span></a>
            <a href="/sa/voting/" class="nav-link" data-trigger-page-transition><span class="text">點讚GO!</span> <span class="line"></span></a>
            <a href="https://sinyi-superagent-webapp-uscmmvx6lq-de.a.run.app/sa_index.html" target="_blank" class="nav-link" ><span class="text">手刀下載</span> <span
                class="line"></span></a>

        </nav>

        <div class="right">
            <nav class="footer-sub">
                <span>Copyright &copy; 2022 信義房屋股份有限公司 Transformation Office . All rights reserved.</span>

            </nav>



            <div id="gRecaptcha" class="g-recaptcha"></div>
        </div>
    </div>
</div>