<!--組元件用-->
<!--Navigation 內容 -->

<div class="background" data-toggle-menu></div>

        <div class="nav-container">
            <div class="top">
                <a href="/sa/" class="logo"></a>

                <nav class="main">
                    <a href="/sa/" class="nav-link" data-trigger-page-transition><span class="text">首頁</span> <span class="line"></span></a>
                    <a href="/sa/events/" class="nav-link" data-trigger-page-transition>
                        <!-- <span class="newtag">NEW</span> -->
                        <span class="text" target="_blank">活動快訊</span> <span class="line"></span></a>
                    <a href="/sa/functionintro/" class="nav-link" data-trigger-page-transition>
                        <span class="newtag">NEW</span>
                        <span class="text">SA攻略</span> <span class="line"></span></a>
                    <a href="/sa/pd_data/" class="nav-link" data-trigger-page-transition><span class="text" target="_blank">產品熱度</span> <span class="line"></span></a>
                    <a href="/sa/voting/" class="nav-link" data-trigger-page-transition><span class="text" target="_blank">點讚GO!</span> <span class="line"></span></a>
                    <a href="https://sinyi-superagent-webapp-uscmmvx6lq-de.a.run.app/sa_index.html" target="_blank" class="nav-link" ><span class="text" target="_blank">手刀下載</span> <span class="line"></span></a>

                </nav>


                <a href="/sa/#" class="hidden-button" data-toggle-trial></a>
            </div>

            <div class="bottom">
                <a href="/sa/#" class="hidden-button" data-toggle-trial></a>

                <div class="form-container tabs-container">
                    <div class="tabs">
                        <a href="/sa/#" class="heading tab active" data-open-tab="trialForm">聯絡我們</a>

                    </div>


                    <div class="tab-content-container">
                        <div class="tab-content active" data-tab="trialForm">
                            <p>同仁有任何想法，歡迎與SuperAgent團隊聯絡</p>
                            <p>E-Mail:
                                <a href="mailto:SuperAgent@sinyi.com.tw?subject=主旨&body=內容">SuperAgent@sinyi.com.tw</a></p>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="menu-bar-container">
            <div class="menu-bar">
                <a href="/sa/" class="logo small" data-trigger-page-transition></a>
                <a href="/sa/#" class="menu-button" data-toggle-menu>
                    <span class="menu-button-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                    </span>
                </a>

                <a href="/sa/#" class="trial-link" data-toggle-trial><span class="text">Contact Us</span></a>
            </div>

        </div>