{% load static %}
<!doctype html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">


    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'assets/img/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'assets/img/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets/img/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/img/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'assets/img/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'assets/img/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'assets/img/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'assets/img/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'assets/img/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/img/favicon/manifest.json' %}">

    <link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&amp;subset=chinese-traditional,japanese" class="next-head">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&amp;subset=chinese-traditional,japanese" rel="stylesheet" class="next-head">

    <meta name="msapplication-TileColor" content="#ffffff">


    <meta name="theme-color" content="#ffffff">


    <title>信義房屋 - Super Agent 打造您的職能守護神</title>
    <meta name="description" content="Sinyi - Super Agent 打造您的職能守護神" />

    <meta property="fb:app_id" content="">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="SuperAgent是承載數據與科技的數位平台，信義夥伴透過次世代智能協作，人人都是超級業務" />
    <meta property="og:image" content="assets/img/logo-small.png" />

    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="600" />
    <meta property="og:description" content="打造您的職能守護神、數位賦能 服務全能、一鍵生成 工作即報表、數據整合 秒懂客戶" />
    <meta property="og:site_name" content="Super Agent" />



    <link rel="home" href="/sa/" />
    <link rel="canonical" href="/sa/">
    <link rel="stylesheet" href="{% static 'assets/css/sa.css' %}">

    <link href="{% static 'css/style.css' %}" rel="stylesheet"  media="screen">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'assets/css/commons.css' %}">


    <div id="top"></div>
    <!-- Google Tag Manager -->
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-ML8B9HB');
    </script>
    <!-- End Google Tag Manager -->

</head>

<body class="content thumbsupgo">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-ML8B9HB" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->


    <!-- 切元件 Navigation-->
    <header w3-include-html="{% templates 'elements/header.html' %}" class="menu-open"></header>
    <!--End Navigation -->



    <!-- 切元件 Breadcrumbs-->
    <div w3-include-html="{% templates 'elements/breadcrumbs.html' %}"  class="horizontalstyle"></div>
    <!--End Breadcrumbs -->


    <!-- Content Block-->
    <div class="wrapper">

        

        <!--content-list-->
        <section class="heightauto" data-section-active data-section="0" data-video-intro>
            <div class="container">
                <div class="row sectiontitle">
                    <h2>假字假字假字假字</h2>
                </div>
                <p>假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字</p>
            </div>
        </section>
        <!--End content-list-->
       

        <!--切元件 Fixed download block -->
        <div id="fixedblock" w3-include-html="{% templates 'elements/fixeddownloadblock.html' %}"></div>
        <!-- End Fixed download block -->


        <!-- 切元件 Footer -->
        <footer w3-include-html="{% templates 'elements/footer.html' %}"></footer>
        <!-- End Footer -->


        <div class="messages-container">
            <a href="/sa/#" class="close-icon"></a>
        </div>

    </div>
    <!--End Content Block -->



    <script type="text/javascript" src="{% static 'assets/js/manifest-sa.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/sa.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/script_sa.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/smoothscroll.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'js/jquery.easypiechart.min.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/interface.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.js"></script>

    <!-- w3.js 用來include html的功能-->
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script>
        w3.includeHTML();
    </script>
    <!-- end of w3.js 用來include html的功能-->    

    <script>
        window.onRecaptchaLoad = function() {
            window.grecaptchaClientId = grecaptcha.render('gRecaptcha', {
                'sitekey': '6LeNkL4UAAAAAJcRfruukBp2lab65JDvT8AmeKTS',
                'badge': 'inline',
                'size': 'invisible',
                'theme': 'dark'
            });
        };

        $(document).ready(function() {
            $('.bxslider').bxSlider({
                speed: 600,
                mode: 'horizontal',
                infiniteLoop: true,
                easing: 'ease-in-out',
                adaptiveHeight: true,
                responsive: true,
                preloadImages: 'all',
                auto: true,
                autoHover: true,
                preventDefaultSwipeY: true

            });



        });


        $(document).ready(function(){
            function hidemenu(){
               $("header.menu-open").removeClass("menu-open");
            }
            setTimeout(hidemenu, 2000);
        });
    </script>


</body>

</html>
